.card-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
    
}

.card-overlay {
    position: absolute; /* Posicionamiento absoluto para superponer sobre card-background */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(48, 30, 129, 0.7); /* Color semitransparente para oscurecer */
}
.rounded-start {
    position: relative;
}

.card-content {
    color: white;
    position: relative;
}

.release-year {
    color: rgb(189, 187, 187);
    font-weight: normal;
}
.synopsis {
    margin-top: 40px;
}

/* boton play */

.position-relative {
    position: relative;
}

.play-icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Atenuar la imagen y mostrar el icono al pasar el cursor */
.trailer-available:hover .play-icon-overlay {
    opacity: 1;
}

.trailer-available .img-fluid {
    transition: opacity 0.3s ease; /* Agregar transición a la imagen */
}

.trailer-available:hover .img-fluid {
    opacity: 0.6;
}
.play-icon {
    font-size: 5rem;
}