.card1 {
  width: 100%; /* La tarjeta abarcará todo el ancho del contenedor */
  border: none; /* Eliminar el borde de la tarjeta */
  padding: 0; /* Eliminar el padding de la tarjeta */
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen a los contenidos internos */
   /* Añadir una sombra sutil para dar profundidad */

  }
  .card-text {
    font-size: 0.875rem; /* Ajusta el tamaño del texto */
    color: #6c757d; /* Un color gris claro */
  }
  
  .card-text.age-rating {
    font-weight: bold;
    color: #007bff; /* Puedes elegir un color diferente para la calificación */
  }
  