/* Asegúrate de que este archivo esté importado en tu componente Login */

.login-container2 {
    background-image: url('https://img.freepik.com/vector-gratis/showtime-movie-time-tira-pelicula-fondo-rojo_1017-33454.jpg?t=st=1720847458~exp=1720851058~hmac=d953769f0debb728f161f76fef1ac4dcc26945927c29d9c555acceddb80e4ec9&w=2000');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-container2 {
    position: relative; /* Necesario para el pseudo-elemento */
    background-image: url("https://img.freepik.com/fotos-premium/fondo-abstracto-colorido-pelicula-estripada-fondo-magenta-pelicula-estripada-como-fondo_1028938-35476.jpg?w=740");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    overflow: hidden; /* Asegura que el contenido no se desborde del contenedor */
  }
  
  .login-form-container2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Fondo negro con opacidad para oscurecer la imagen */
    border-radius: 30px;
    z-index: 0; /* Asegura que el pseudo-elemento esté detrás del contenido del formulario */
    pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con la interacción del formulario */
  }
  
  .login-form-container2 form {
    position: relative; /* Necesario para que los elementos del formulario se ubiquen sobre el pseudo-elemento */
    z-index: 1; /* Asegura que el contenido del formulario esté por encima del pseudo-elemento */
  }
  
  .login-form-container2 h1 {
    color: #ffffff; /* Títulos del formulario en blanco */
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .form-control2 {
    background: #ffffff; /* Fondo blanco para los campos de entrada */
    color: #333; /* Color del texto en los campos de entrada */
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    border: 1px solid #ddd; /* Borde gris claro */
  }
  
  .form-control2::placeholder {
    color: #aaa; /* Color del texto del placeholder */
  }
  
  .btn-primary2 {
    background-color: #ff4d4d !important; /* Color rojo */
    border: none !important;
    padding: 0.75rem 1.5rem;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-primary2:hover {
    background-color: #e43f3f; /* Rojo oscuro al pasar el ratón */
  }
  
  .form-label2 {
    color: #ffffff; /* Cambia el color del texto a blanco */
    z-index: 1; /* Asegura que la etiqueta esté por encima del fondo oscuro */
    position: relative; /* Asegura que el color blanco del texto no se vea afectado por el fondo */
    display: block; /* Asegura que la etiqueta ocupe todo el ancho disponible */
    margin-bottom: 0.5rem; /* Añade un margen inferior a la etiqueta */
  }
  
  .mb-3-2 {
    margin-bottom: 1rem; /* Añade un margen inferior a los elementos del formulario */
  }
  
  .text-danger2 {
    color: #f44336; /* Color rojo para el mensaje de error */
    text-align: center;
  }
  