.like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 35px;  /* Ajusta el tamaño según sea necesario */
  }
  
  .liked {
    color: red;
  }
  
  .not-liked {
    color: white;  /* O cualquier otro color que prefieras para el estado no liked */
  }